

.silex-runtime .website-min-width {
    min-width: 0;
}


/** HEADER **/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
} 

#logo-img{
	background: url('../images/restaurant-logo.png') no-repeat;
	width:150px;
	height: 150px;
	margin:-25px 15px 15px -55px;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{ /*Restaurant name*/
	font-family: 'Lora',serif;
	color:#9F000F;
	font-size:1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow:1px 1px 3px #222;
	margin-top: 0px;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a:hover , .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{/*kosher certified*/
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand img{
	width: 20px;
	height: 20px;
}
.navbar-brand p span{
	vertical-align: middle;
} 

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color:#951C49; 
	text-align: center;
}
#nav-list a:hover{
    background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
#phone{
	margin-top: 5px;
}

#phone a{ /*Phone number*/
	text-align: right;
	padding-bottom: 0;
	padding-right: 8px;
}
#phone div{ /*We Deliver*/
	color: #9F000F;
	text-align: right;
	padding-right: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}
/* END HEADER*/

/*HOME PAGE*/
.container .jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
#menu-tile, #specials-tile ,#map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile{
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile{
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
}

#menu-tile span,#specials-tile span,#map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}

#hometiles #menu-tile,#hometiles #specials-tile{
	width: 360px;
	margin:0 auto 35px;
}


/* MENU CATEGORIES PAGE */
.category-tile{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}
.category-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
	margin-bottom: 40px;
}

/* END MENU CATEGORIES PAGE*/


/* SINGLE CATEGORY PAGE */

.menu-item-tile{
	margin-bottom: 25px;
}
.menu-item-tile hr{
	width: 80%;
}
.menu-item-tile .menu-item-price{
	font-size: 1.1em;
	text-align: right;
	margin-top: -3px;
	margin-right: -3px;
}
.menu-item-tile .menu-item-price span{
	font-size: .6em;
}
.menu-item-photo{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: 29px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;/*dont stretch*/
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-description{
	padding-right: 30px;
}
h3.menu-item-title{
	margin: 0 0 10px;
}
.menu-item-details{
	font-size: .9em;
	font-style: italic;
}

/* END SINGLE CATEGORY PAGE */



/************** Large devices only ***************/
@media(min-width: 1200px){
   .container .jumbotron{
   	background: url('../images/restaurant large img.jpg')no-repeat;
   	height: 405px;
   }
}

/************** Medium devices only **************/
@media(min-width: 992px) and (max-width: 1199px){
/*HEADER*/
#logo-img{
    background-image: url('../images/restaurant-logo.png') no-repeat center center;
    width: 150px;
    height: 150px;
    background-size: contain;
    margin-bottom: -30px;
    margin-left: -40px;
}
/*END HEADER*/
.container .jumbotron{
	background: url('../images/restaurant medium img.jpg')no-repeat;
    height: 334px;
}


}

/* FOOTER */
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours, #address{
	line-height: 2;
}
#hours >span, #address >span{
	font-size: 1.3em;
}
#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testinomials{
	font-style: italic;
}

#testinomials p:nth-child(2){
	margin-top: 25px;
}




/************** Small devices only ***************/
@media(min-width: 768px) and (max-width: 991px){
.container .jumbotron{
	background: url('../images/restaurant small img.jpg')no-repeat;
    height: 259px;
}
}

/************** Extra small devices only *********/
@media(max-width: 767px){
.navbar-brand{
	padding-top: 10px;
	height: 70px;
}
.navbar-brand h1{
	padding-top: 10px;
	font-size: 5vw;
}
.navbar-brand p{
	font-size: .6em;
	margin-top: 12px;
}
.navbar-brand p img{
	height:20px;
}

#collapsable-nav a{
	font-size: 1.2em;
}
#collapsable-nav a span{
	font-size: 1.1em;
	margin-right: 5px;
}
#call-btn a{
	display: block;
	font-size: 1.5em;
	margin:0 20px;
	padding: 10px;
	border: 2px solid #fff;
	background-color: #f6b319;
	color: #951C49;
}
#xs-deliver{
	margin-top: 5px;
    font-size: .8em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
.panel-footer section{
	margin-bottom: 30px;
	text-align: center;
}
.panel-footer section:nth-child(3){
	margin-bottom: 0;
}
.panel-footer section hr{
	width:50%;
}



.container .jumbotron{
	margin-top: 30px;
	padding:0;
}
#menu-tile, #specials-tile{
	width: 360px;
	margin: 0 auto 15px;
}


.menu-item-photo{
	margin-right: auto;
}
.menu-item-tile .menu-item-price{
	text-align: center;
}
.menu-item-description{
	text-align: center;
}
}



/************** Super extra small devices only ****************/
@media(max-width: 479px){
    .navbar-brand h1{
    	padding-top: 5px;
    	font-size: 4vw;
    }

	#menu-tile,#specials-tile{
	width: 253px;
	margin:0 auto 15px;
}
.col-xxs-12{  /* FROM bootstrap.css*/
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;

}

}





























































